



/* ==========================================================================
  General
   ========================================================================== */
html>* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
	font-family: 'Fjalla One', sans-serif;
}




/* ==========================================================================
  Layout
   ========================================================================== */
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



/* ==========================================================================
  Header
   ========================================================================== */

header {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
}

header h1 {
    position: absolute;
    left: 20%;
    top: 1rem;
    color: #ff9900;
    font-size: 3em;

}
header img{
	position: absolute;
    left: 5%;
    width: 20%;
    max-width: 70px;
}

.controls {
    position: relative;
    right: 10%;
}




/* ==========================================================================
 butons
   ========================================================================== */
.btn{
    background: #3333ff;
    border: none;
    padding: 21px 55px;

    font-size: xx-large;
    text-decoration: none;
    color: white;
    font-variant: all-petite-caps;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    letter-spacing: 4px;
      outline: none;
}




/* ==========================================================================
  Game layout
   ========================================================================== */
.symon-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    width: 80%;
    height: 50%;
    flex-wrap: wrap;

}

.symon-container>div {
    width: 35%;
    height: 40%;
    transition: opacity 1s ease, transform .5s ease-out;
    margin: 1rem;
    cursor: pointer;
    border-radius: 2rem;

}

#boxA {
    background: #ff9900;
}

#boxB {
    background: #ff6699;
}

#boxC {
    background: #3333ff;
}

#boxD {
    background: #339933;
}

#boxA.active {
    background: #ff9900;
}


div.box.active {
    opacity: .7;
    transform: scale(1.05);
}

.counter {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 45px;
    border-radius: 100%;
    position: absolute;
    margin-top: -1rem;
    z-index: 50;
}

#counter {

    font-weight: bolder;
}



/* ==========================================================================
  Modal game restart
   ========================================================================== */
#game-over{
	    width: 80%;
    height:auto;
        display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    text-align: center;
        z-index: 70;
    border: solid 1rem black;
    border-radius: 26px;
    position: absolute;
    padding: 2rem 0;


}
#game-over img{
	max-width: 200px;
    height: auto;
    position: relative;
    z-index: 99;
	
}



/* ==========================================================================
  Mobile view devices under 480px
   ========================================================================== */
@media (max-width:480px ){
	header h1{
		left: 24%;
		font-size: 2.5em;
	}
	.btn{
		padding: 15px 25px;
	}
}